# dependencies
node_modules/
.pnpm-store/

# next.js
.next/
out/

# build
dist/
build/

# turbo
.turbo/

# env
.env
.env*.local

# debug
npm-debug.log*
pnpm-debug.log*

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# test
coverage/
